* {
	padding: 0;
	margin : 0;
}
html,body{
	height: 100%;
	background: rgb(238, 245, 249);
}
.main{
	height: 100%;
}

header{
	position: fixed;
	width: 100%;
}

header > nav > .logo{
	margin-left: -1rem;
	padding-left: 1rem; 
	width: 15rem;
	height: 100%;
	box-sizing: border-box;
}

header > nav > ul[id=nav-ul]
{
	display: inline-block;
	align-items:center;
	height: 60px;
}
header > nav > ul[id=nav-ul] > li[class*=nav-item]
{
	height: 100%;
	width: 4rem;
	display: flex;
	align-items: center;
	justify-content:center;
}
aside {
	height: 100%;
	position: fixed;
	background: #fff;
	padding-top: 76px;
	transition: all .2s ease-in-out;
	/* overflow: hidden; */
}

.aside-menu
{
	height: 100%;
	cursor: pointer;
}
.sidebar
{
	height: 100%;
}
.sidebar .sidebar-ul
{
	height: inherit;
	padding: 2rem 1rem;
	list-style-type: none;
	color:#6c757d;
}
.sidebar .sidebar-ul .sidebar-li
{
	width : 100%;
	height: auto;
	cursor: pointer;
	display: inline-block;
}
.sidebar .sidebar-ul .active >  div[class*='sidebar-']
{
	box-shadow      : 0px 0px 8px 0px rgba(0, 0, 0, .5);
	background-color: rgb(79, 122, 131);
	color           : #eee;
	transition      : all .2s linear;
	overflow        : hidden;
}
.sidebar .sidebar-ul .sidebar-li .sidebar-content,
.sidebar .sidebar-ul .sidebar-li .sidebar-title
{
	display   : inline-block;
	width     : 100%;
	height    : 100%;
	padding   : .6rem;
	z-index   : 1;
	transition: box-shadow .3s;
}

.sidebar .sidebar-ul .sidebar-li .sidebar-content > span[class*=oi] ,
.sidebar .sidebar-ul .sidebar-li .sidebar-title >  span[class*=oi]
{
	margin-left: .5rem;
}

.sidebar .sidebar-ul .sidebar-li .sidebar-content > a,
.sidebar .sidebar-ul .sidebar-li .sidebar-title > a
{
	font-weight: bold;
	padding-left: 2rem;
}
.sidebar .sidebar-ul .sidebar-li a,
.sidebar .sidebar-ul .sidebar-child-li a
{
	text-decoration: none;
	color          : inherit;
}

.sidebar .sidebar-ul .sidebar-li div[class*='sidebar-']:hover
{
	color:#000;
}
.sidebar .sidebar-ul .active div[class*='sidebar-']:hover
{
	color: #fff;
}
.sidebar .sidebar-ul .sidebar-li > ul[class*=sidebar-child]
{
	list-style-type: none;
	display        : none;
	position       : relative;
	user-select    : none;
}
.sidebar .sidebar-ul .active > ul[class*=sidebar-child]
{
	display: block !important;
}
.sidebar .sidebar-ul .sidebar-li > ul[class*=sidebar-child] > .sidebar-child-li
{
	width : 100%;
	padding: 1rem 1.5rem;
}

.sidebar .sidebar-ul .sidebar-li > ul[class*=sidebar-child] > .sidebar-child-li:hover > a
{
	color:rgb(43, 120, 136);
	font-weight: bold;
}

/* 异常title */
.header-content
{
	width: 100%;
	height: 76px;
}

/* 右侧主题内容 */
.content
{
	background: #000;
	height: 100px;
	transform: all .5s;
}