.theme-green
{
	background: rgb(79, 122, 131);
}
.theme-whiter{
	background: #fff;
}

.font-green{
	color:rgb(79, 122, 131);
}
.font-whiter
{
	color: #fff !important;
}
.font-black
{
	color:#232323 !important;
}
.shadow-up{
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5);
}
.shadow-down{
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5);
}
.shadow-right{
	box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, .5);
}

.zindex-1{
	z-index: 1;
}
.zindex-2{
	z-index: 2;
}
.zindex-3{
	z-index: 3;
}
.zindex-4{
	z-index: 4;
}
.zindex-5{
	z-index: 5;
}
.zindex-6{
	z-index: 6;
}
.zindex-7{
	z-index: 7;
}
.zindex-8{
	z-index: 8;
}
.zindex-9{
	z-index: 9;
}
.zindex-0{
	z-index: 0;
}